body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00FF6C, #f1da36);
}

.game {
    max-height: 100vh;
    max-width: 100vh;
    margin: 0 auto;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem; // 20px / 16px
    color: white;
    text-shadow:green 2px 2px 0.5px;
    text-align: center;
    font-size: 3.125rem;
}

.puzzleContainer {
    margin: 20px auto 15px;  
}

.canvas {
    width: 410px;
    height: 410px;
    border: 1px;
    border-radius: 16px;
    cursor: pointer;
}

footer {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 1.7rem;

    .time {
        color: white;
        text-shadow:green 1px 1px 0.5px;
        text-align: center;
        margin-right: 15px;
    }
    
    .pause {
        color: white;
        text-shadow:green 1px 1px 0.5px;
        text-align: center; 
        cursor: pointer;
    
        &:hover{
            color: green;
            text-shadow:white 1px 1px 0.5px;
        }
    }
}

.pauseMenu {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    opacity: 0.7;
    width: 210px;
    height: 310px;
    margin: 46px auto 0;
    display: flex;
    flex-direction: column;
    
    // transform: translate(-50%, -50%);
    //transition: top 1s ease-out 0.5s;

    .navPause {
        margin: 20px auto;
        font-size: 1.3rem;
        color: white;
        cursor: pointer;

        &:hover{
            color: green;
            text-shadow:white 1px 1px 0.6px;
        }

        #navGame {
            margin: 0;
            width: 410px;
            height: 410px;
            border: 1px;
            border-radius: 16px;
            cursor: pointer;
        }
    }
}

.rulesContainer {
    margin: 10px auto;
    font-size: 2rem;
}

.rulesContent {
    margin-top: 5px;
    font-size: 0.9rem;
    line-height: 150%;
}

.goBack {
    font-size: 0.9rem;
    font-weight: 900;
    cursor: pointer;
    margin-top: 30px;
}

.settingsContainer {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 150%;
}

.sel1Obj {
    width: 55px;
    margin: 5px auto;
    outline: none;
}

@media screen and (max-width: 460px) and (min-width: 320px) {
    .gameContainer {
        font-size: 2.5rem
    }

    .canvas {
        width: 310px;
        height: 310px;
    }

    .footer {
        width: 310px;
        font-size: 1.4rem;
    }
}

