body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00FF6C, #f1da36);
}

.game {
    max-height: 100vh;
    max-width: 100vh;
    margin: 0 auto;
}

.gameContainer {
    padding-top: 20px;
    color: white;
    text-shadow:green 2px 2px 0.5px;
    text-align: center;
    font-size: 50px;
    
}

.puzzleContainer {
    margin: 25px auto;  
}

.canvas {
    width: 410px;
    height: 410px;
    border: 1px;
    border-radius: 16px;
    cursor: pointer;
}

@media screen and (max-width: 409px) and (min-width: 320px) {
    .gameContainer {
        font-size: 40px;
    }

    .canvas {
        width: 310px;
        height: 310px;
    }
}

